body {
    font-family: 'Arial', sans-serif; /* このフォントをGoogle Fontsから選択したフォントに変更することができます */
    background-color: #e9f1f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0052a5;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

#container {
    display: flex;
    height: 90vh;
}


#editor-container, #displayArea {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #0078d4;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
}

#contentArea{
    flex-grow: 1;
    overflow-y: auto;
}

h2 {
    border-bottom: 2px solid #0052a5;
    padding-bottom: 10px;
}

#displayAreaHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0078d4;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#displayAreaHeader button {
    background-color: #0052a5;
    color: #fff;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#displayAreaHeader button:hover {
    background-color: #0078d4;
}

#displayAreaHeader button i {
    margin-right: 5px;
}



